/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'Economica-Bold';
	src: url(../fonts/Economica-Bold.ttf);
  } 
  @font-face {
	font-family: 'Quicksand-Regular';
	src: url(../fonts/Quicksand-Regular.ttf);
  } 
  @font-face {
	font-family: 'Economica-Regular';
	src: url(../fonts/Economica-Regular.ttf);
  } 
.carousel-item h5{
	font-size: 30px;
}
section{
	margin-bottom: 50px;
}
.service-title h2{
	text-align: center;
	font-size: 50px;
	font-family: 'Economica-Bold';
	padding-bottom: 20px;
}
.service-title h3{
	font-size: 20px;
	font-family: 'Quicksand-Regular';
	text-align: center;
	padding-bottom: 50px;
}
.img-fluid{
  	 display: block;
 	 margin-left: auto;
 	 margin-right: auto;
 	 width: 100%;
}
.our-service img{
	vertical-align: middle;
	width: 300px;
	height: 300px;
	border-radius: 100%;
  }
.our-service h2{
	font-family: 'Economica-Bold';
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}
.our-service h3{
	font-family: 'Quicksand-Regular';
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}
.menu-title h2{
	font-family: 'Quicksand-Regular';
	font-size: 50px;
	text-align: center;
	color: #facb36;
	padding-bottom: 20px;
	padding-top: 50px;
}
.menu-title button{
	height: 40px;
	width: 150px;
	font-family: 'Quicksand-Regular';
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid  #facb36 ;
	background: none;
	color: aliceblue;
	margin-bottom: 20px;
}
.menu-button{
	margin-left: auto;
	margin-right: auto;
	width: 31%;
}
.menu{
	background: black;
}
.menu-item h2{
	font-family: 'Economica-Regular';
	font-size: 30px;
	color: #ffeeb7;
	padding-bottom: 50px;
}
.menu-item a{
	text-decoration: none;
	text-align: center;
}
.menu-item i{
	color: red;
	padding-left: 100px;
}
.special-title h2{
	text-align: center;
	font-family: 'Economica-Regular';
	font-size: 50px;
	color: #facb36;
	padding-bottom: 20px;
}
.special-title h3{
	font-family: 'Quicksand-Regular';
	font-size: 20px;
	text-align: center;
	padding-bottom: 20px;
}
.good-coffee h2{
	text-align: center;
	font-family: 'Economica-Regular';
	font-size: 30px;
	color: #facb36;
	padding-top: 100px;
}
.good-coffee-bg{
	background: #ffeeb7;
}
.good-coffee h3{
	font-family: 'Quicksand-Regular';
	font-size: 20px;
	text-align: center;
	
}
.coffee-beans h2{
	font-family: 'Quicksand-Regular';
	font-size: 30px;
	color: #facb36;
}
.coffee-beans-bg{
	background: black;
}